html, body {
    width: 100%;
    height: 100%;
}
body {
    background: #007bff;
    background: linear-gradient(90deg, #0062E6, #33AEFF);
}
.login-form {
    width: fit-content;
    height: fit-content;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login-form form {
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 50px;
    border-radius: 1.5rem;
}

.login-form h2 {
    margin: 0 0 15px;
}
.form-group {
    margin: 1rem auto;
}
input {
    border-radius: 2rem !important;
}
.btn {
    width: 100%;
    border-radius: 2rem !important;
}
.login-form .error-msg {
    color: rgb(236, 75, 75);
    margin: auto;
}