nav {
  border-bottom: 1px solid rgb(148, 145, 145);
}
.nav-avatar {
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
  margin: 7px;
}
.navbar-brand {
  display: flex;
}
.nav-username {
  color: rgb(155, 146, 146);
  font-size: 1rem;
  text-align: right;
}
.inner-navbar {
  max-width: 80%;
  margin: auto;
  display: flex !important;
}
.nav-right-buttons {
  display: flex;
  align-items: baseline;
}
.nav-item {
  margin: auto 2rem;
}

.card {
  max-width: 70%;
  margin: 5rem auto;
  text-align: center;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  color: rgb(107, 100, 100);
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #f5eeee;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #e2dcdc;
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fa-upload {
  position: absolute;
  top: 9px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.update-form-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.form-group {
  margin: 1rem auto;
  display: flex;
}
input {
  border-radius: 2rem !important;
  max-width: 80%;
}
.form-check-label {
  margin-right: 1rem;
}
.btn {
  width: 100%;
}
.error-indicator {
  margin: auto 0.5rem;
}
.fa-circle {
  color: #c4c6ca !important;
}
.password-error {
  font-size: 13px;
  color: rgb(235, 76, 76);
}
.show {
  display: initial !important;
}
#pass-change-form {
  max-width: 30%;
  margin: auto;
}
#pass-change-form input {
  margin: auto;
}
